.promotionform{
    font-family: sans-serif;
    border: 1px black solid;
    padding: 10px;
    width: 550px;
    height: 600px;
    margin-left: 25%;
    margin-top: 100px;
    box-sizing: border-box;
}
.maintopicform{
    font-size: 40px;
    text-align: center;
}
.addpromoform{
    margin-left: 10px;
    margin-bottom: 10px;
}
.columnlpromo{
  float: left;
  width: 50%;
}
.columnrpromo{
    float: right;
    width: 50%;
}
.addpromotopic{
    margin-top: 10px;
}
.addpromolabel{
    color: #34251F;
    font-size: 20px;
}
.addpromoinput{
    margin-top: 5px;
    margin-bottom:20px;
    font-size: 18px;
}
.addpromoinputON{
    color:  #34251F;
    font-size: 18px;
    width: 220px;
    height: 140px;
}
.addpromoinputC{
    color:  #34251F;
    font-size: 18px;
    width: 220px;
    height: 90px
}
.addpromoinputradio{
    margin-left: 10px;
}
.typeradio{
    font-size: 16px;
    margin-left: 5px;
}
.submitnewpromo{
    background-color: #34251F;
    color: white;
    padding: 5px;
    width: 350px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.asterix{
    color: red;
}
.formbutton{
    margin-top: 30px;
    text-align: center;
}
.formerror{
    margin-top: 20px;
    padding: 5px;
    background-color: red;
    font-size: 20px;
    text-align: center;
    width: 500px;
}